<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro"
  name="vx300s">

  <xacro:arg name="left_prefix" default="left" />
  <xacro:arg name="right_prefix" default="right" />

  <!-- Robot -->
  <xacro:include filename="$(find viperX300_description)/urdf/vx300s_macro.xacro" />
  <xacro:vx300s prefix="$(arg left_prefix)" hw_interface="hardware_interface/EffortJointInterface" />
  <xacro:vx300s prefix="$(arg right_prefix)" hw_interface="hardware_interface/EffortJointInterface" />

  <link name="world" />

  <joint name="$(arg left_prefix)_to_world" type="fixed">
    <parent link="world" />
    <child link="$(arg left_prefix)_base_link" />
    <origin xyz="-0.4 0 0.7" rpy=" 0 0 1.57"/>
  </joint>

  <joint name="$(arg right_prefix)_to_world" type="fixed">
    <parent link="world" />
    <child link="$(arg right_prefix)_base_link" />
    <origin xyz="0.4 0 0.7" rpy=" 0 0 1.57"/>
  </joint>
  
  <gazebo>
     		<plugin filename="gz-sim-sensors-system" name="gz::sim::systems::Sensors">
   			<render_engine>ogre2</render_engine>
		</plugin>
	</gazebo>

<link name="high_CAM_1">
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <material name="interbotix_black" />
  </visual>
  <collision>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.1"/>
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
             iyy="0.0001" iyz="0.0"
             izz="0.0001"/>
  </inertial>
</link>

<!-- Joint connecting camera to base_link -->
<joint name="high_CAM_joint" type="fixed">
  <parent link="world"/>
  <child link="high_CAM_1"/>
  <origin xyz="0.0 0.0 0.8" rpy="0.0 0.0 0"/>
</joint>
    
    <gazebo reference="high_CAM_1">
  <sensor name="high_zed_CAM" type="camera">
    <always_on>true</always_on>
    <update_rate>25</update_rate>
    <!--pose>0.05 0 0 0 0 0.15</pose-->
    <visualize>true</visualize>
    <topic>/high_cam/image_raw</topic>
    <gz_frame_id>high_CAM_1</gz_frame_id>
    <camera name="high_zed_CAM">
      <horizontal_fov>1.047</horizontal_fov>
      <camera_info_topic>/high_cam/camera_info</camera_info_topic>
      <distortion>
        <k1>0.01</k1>
        <k2>0.01</k2>
        <k3>0.01</k3>
        <p1>0.001</p1>
        <p2>0.001</p2>
      </distortion>
      <image>
        <width>224</width>
        <height>224</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.01</near>
        <far>5.0</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.01</mean>
        <stddev>0.005</stddev>
      </noise>
       <!--depth_camera>
        <clip>
          <near>0.01</near>
          <far>5</far>
        </clip>
      </depth_camera-->
    </camera>
  </sensor>
</gazebo>

<link name="low_CAM_1">
  <visual>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
    <material name="interbotix_black" />
  </visual>
  <collision>
    <geometry>
      <box size="0.05 0.05 0.05"/>
    </geometry>
  </collision>
  <inertial>
    <mass value="0.1"/>
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
             iyy="0.0001" iyz="0.0"
             izz="0.0001"/>
  </inertial>
</link>

<!-- Joint connecting camera to base_link -->
<joint name="low_CAM_joint" type="fixed">
  <parent link="world"/>
  <child link="low_CAM_1"/>
  <origin xyz="0.0 0.0 0.8" rpy="0.0 0.0 0"/>
</joint>
    
    <gazebo reference="low_CAM_1">
  <sensor name="low_zed_CAM" type="camera">
    <always_on>true</always_on>
    <update_rate>25</update_rate>
    <!--pose>0.05 0 0 0 0 0.15</pose-->
    <visualize>true</visualize>
    <topic>/low_cam/image_raw</topic>
    <gz_frame_id>low_CAM_1</gz_frame_id>
    <camera name="low_zed_CAM">
      <horizontal_fov>1.047</horizontal_fov>
      <camera_info_topic>/low_cam/camera_info</camera_info_topic>
      <distortion>
        <k1>0.01</k1>
        <k2>0.01</k2>
        <k3>0.01</k3>
        <p1>0.001</p1>
        <p2>0.001</p2>
      </distortion>
      <image>
        <width>224</width>
        <height>224</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.01</near>
        <far>5.0</far>
      </clip>
      <noise>
        <type>gaussian</type>
        <mean>0.01</mean>
        <stddev>0.005</stddev>
      </noise>
       <!--depth_camera>
        <clip>
          <near>0.01</near>
          <far>5</far>
        </clip>
      </depth_camera-->
    </camera>
  </sensor>
</gazebo>

</robot>
